<!-- stock-visualization.component.html -->
<div style="display: flex; justify-content: center;">
    <!-- <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [results]="stocksData | async" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [legendTitle]="legendTitle" [legendPosition]="legendPosition" [showXAxisLabel]="showXAxisLabel" [xAxisLabel]="xAxisLabel" [showYAxisLabel]="showYAxisLabel" [yAxisLabel]="yAxisLabel" [showDataLabel]="showDataLabel" [animations]="animations" (select)="onSelect($event)">
    </ngx-charts-bar-vertical> -->
</div>