/* navigation.component.scss */

.nav-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.nav-list {
  flex-grow: 1;
}

.nav-list-item {
  margin-bottom: 10px;
  /* Adjust margin as needed */

  &.active {
    background-color: rgba(0, 0, 0, 0.1);
    /* Example background color for active link */
  }
}

.nav-toolbar {
  background-color: #2196F3; // Example primary color
  color: #ffffff; // Example text color
}

.mat-sidenav-content {
  height: 100%;
}
