<!-- navigation.component.html -->

<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="over">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/stock-list" routerLinkActive="active" class="nav-list-item">Stock List</a>
            <a mat-list-item routerLink="/add-stock" routerLinkActive="active" class="nav-list-item">Add Stock</a>
            <a mat-list-item routerLink="/sell" routerLinkActive="active" class="nav-list-item">Sell Product</a>
            <a mat-list-item routerLink="/stock-visualization" routerLinkActive="active" class="nav-list-item">Stock Visualization</a>
            <a mat-list-item routerLink="/sms" routerLinkActive="active" class="nav-list-item">Send SMS</a>
            <a mat-list-item routerLink="/login" routerLinkActive="active" class="nav-list-item">Login</a>
            <a mat-list-item routerLink="/logout" routerLinkActive="active" class="nav-list-item">Logout</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar class="nav-toolbar">
            <button mat-icon-button (click)="toggleSidenav()">
                <mat-icon>menu</mat-icon>
            </button>
            <span>My Cloth Store</span>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>xq
</mat-sidenav-container>